@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    padding: 1.25rem 0;
    height: 12.5rem;
}

.logo{
    width: 50%;
}

.menu{
    width: 50%;
    text-align: right;
    padding-top: 1.875rem;
}

.menu a{
    color: rgb(110, 102, 102);
    text-decoration: none;
    font-weight: bold;
    margin-right: 0.938rem;
    font-family: 'Kanit', sans-serif;
}

section.sobre{
    height: calc(100% - 12.5rem);
    position: relative;    
}

.extras{
    position: absolute;
    bottom: -39.688rem;
    right: -35.625rem;
    width: 75rem;
    height: 75rem;
    border-radius: 50%;
    background-color: #168f5c;    
}

.social-media{
    position: absolute;
    right: 36.25rem;
    top: 12.5rem;
}

.social-media img{
    display: block;
    width: 1.563rem;
    margin: 1.875rem;
}

.social-media .facebook{
    width: 1.25rem;
}

.texto-sobre{
    margin-top: -2.5rem;
    margin-left: -5rem;    
}

.texto-sobre h1{
    font-size: 4.375rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    letter-spacing: 0.125rem;
}

.texto-sobre p{
    margin: 1.25rem 0;
    color: rgb(68, 64, 64);
    font-size: 0.875rem;
    font-weight: 400;
    max-width: 50rem;
    font-family: 'Kanit', sans-serif;
}

.texto-sobre button{
    border:0;
    background-color:#168f5c;
    color: white;
    border-radius: 1.875rem;
    width: 7.5rem;
    height: 2.188rem;
    cursor: pointer;
}

button:hover{
    filter: brightness(1.2);
    transition-duration: 0.3 s;
}

.starbucks{
    color: #168f5c;
    font-weight: 600;
}

.starbucks:hover{
    filter: brightness(1.2);
}

.segunda-linha{
    margin-top: -1.875rem;
}

.copos-menores{
    display: flex;
    position: absolute;
    margin-top: 4.2rem;
    margin-left: 40rem;
    height: 6.25rem;
    cursor: pointer;
}

.copos-menores .copo1:hover, .copo2:hover, .copo3:hover{
    height: 8.75rem;
}

.copo1::after {
    content: url("/arquivos/thumb1.png");
  }
  .copo2::after {
    content: url("/arquivos/thumb2.png");
  }
  .copo3::after {
    content: url("/arquivos/thumb3.png");
  }

  #copao{
    margin-top:-2.5rem 
  }